<div class="box-warp">
    <xc-table
      [dataSet]="_dataSet"
      [pageBean]="pageBean"
      [tableConfig]="tableConfig"
      (pageChange)="pageChange($event)">
    </xc-table>
</div>

<ng-template #alarmFixedLevelTemp let-data="data">
  <div *ngIf="data.alarmFixedLevel === '1'" style="display: flex"><div class="box-icon" [ngStyle]="data.style"></div> <span style="margin-left: 5px">{{this.language.urgent}}</span></div>
  <div *ngIf="data.alarmFixedLevel === '2'" style="display: flex"><div class="box-icon" [ngStyle]="data.style"></div><span style="margin-left: 5px">{{this.language.main}}</span></div>
  <div *ngIf="data.alarmFixedLevel === '3'" style="display: flex"><div class="box-icon" [ngStyle]="data.style"></div><span style="margin-left: 5px">{{this.language.secondary}}</span></div>
  <div *ngIf="data.alarmFixedLevel === '4'" style="display: flex"><div class="box-icon" [ngStyle]="data.style"></div><span style="margin-left: 5px">{{this.language.prompt}}</span></div>
</ng-template>

<ng-template #alarmCleanStatusTemp let-data="data">
  <div *ngIf="data.alarmCleanStatus ===3">{{this.language.noClean}}</div>
  <div *ngIf="data.alarmCleanStatus ===1">{{this.language.isClean}}</div>
  <div *ngIf="data.alarmCleanStatus ===2">{{this.language.deviceClean}}</div>
</ng-template>

<ng-template #alarmConfirmStatusTemp let-data="data">
  <div *ngIf="data.alarmConfirmStatus ===1">{{this.language.isConfirm}}</div>
  <div *ngIf="data.alarmConfirmStatus ===2">{{this.language.noConfirm}}</div>
</ng-template>
<ng-template #alarmSourceTypeTemp let-data="data">
  <div *ngIf="data.alarmSourceTypeid === '001'">{{this.language.opticalBox}}</div>
  <div *ngIf="data.alarmSourceTypeid === '030'">{{this.language.well}}</div>
  <div *ngIf="data.alarmSourceTypeid === '060'">{{this.language.distributionFrame}}</div>
  <div *ngIf="data.alarmSourceTypeid === '090'">{{this.language.junctionBox}}</div>
  <div *ngIf="data.alarmSourceTypeid === '150'">{{this.language.splittingBox}}</div>
</ng-template>

