.smart-container {
  height: 100%;
  .smart-left {
    //width: 200px;
    //height: 100%;
    //background: pink;
  }
  .smart-canvas {
    width: 600px;
    height: 600px;
    background: pink;
  }
  .smart-canvas-bak {
    width: 600px;
    height: 600px;
    background: red;
  }
}


