<nz-spin class="facility-detail" [nzSpinning]="pageLoading">
  <div>
    <span class="area-detail-title">
      {{pageTitle}}
    </span>
  </div>
  <div style="">
    <xc-form [column]="formColumn" (formInstance)="formInstance($event)"></xc-form>
    <div style="padding-left: 20px">
      <button class="link-button" nz-button nzType="primary" style="margin-right: 20px"
              [nzLoading]="isLoading"
              [disabled]="!formStatus.getValid()"
              (click)="addFacility()">{{language.handleOk}}
      </button>
      <button class="link-button" nz-button nzType="danger" (click)="goBack()">{{language.handleCancel}}</button>
    </div>
  </div>
</nz-spin>

<!--城市选取器模板-->
<ng-template #customTemplate let-formGroup="formGroup" let-col="col">
  <div class="xc-city-picker">
    <!--<div class="city-picker-selector area-detail" id="city-picker-selector" style="height: 30px"></div>-->
    <input style="width:31%;margin-right: 10px" type="text" [placeholder]="formLanguage.inputPlaceholder"
           nz-input [(ngModel)]="cityInfo.province" [disabled]="true">
    <input style="width:31%;margin-right: 10px" type="text" [placeholder]="formLanguage.inputPlaceholder"
           nz-input [(ngModel)]="cityInfo.city" [disabled]="true">
    <input style="width: 31%" type="text" nz-input [placeholder]="formLanguage.inputPlaceholder"
           [(ngModel)]="cityInfo.district" [disabled]="true">
  </div>
</ng-template>

<!--地理位置选择模版-->
<ng-template #positionTemplate let-formGroup="formGroup" let-col="col">
  <form [formGroup]="formGroup">
    <button type="button" class="address-p" [disabled]="positionDisabled" nz-button (click)="showModal()">
      <i class="icon-fiLink-l iconfont fiLink-position"></i>
      <span style="vertical-align: middle;margin-left: 5px">{{language.position}}</span></button>
  </form>
</ng-template>
<xc-map-component [(xcVisible)]="isVisible"
                  [point]="selectPoint"
                  [facilityAddress]="facilityAddress"
                  (selectDataChange)="selectDataChange($event)">
</xc-map-component>

<!--区域选择模版-->
<ng-template #areaSelector let-formGroup="formGroup" let-col="col">
  <div>
    <span class="area-name" [class.disabled]="areaDisabled" [title]="areaName">{{areaName}}</span>
    <button type="button" class="open-button" [disabled]="areaDisabled"
            (click)="showAreaSelectorModal()"><i
      class="icon-fiLink fiLink-search-index iconfont"></i></button>
  </div>
</ng-template>

<!--区域选择器-->
<xc-tree-area-selector
  [(xcVisible)]="areaSelectVisible"
  [treeSelectorConfig]="areaSelectorConfig"
  [canClear]="false"
  (selectDataChange)="areaSelectChange($event)"
>
</xc-tree-area-selector>
