.pic-canvas {
  width: 700px;
  height: 650px;
  margin: 0 0 0 100px;
  border: 1px solid #ccc;
  //background: #cccccc;
  //opacity: .5;
  float: left;
}
.pic-canvas2 {
  width: 540px;
  height: 650px;
  margin-left: 20px;
  border: 1px solid #ccc;
  float: left;
}
