<form class="phone-login-form" nz-form [formGroup]="validateForm">
  <nz-form-item>
    <nz-form-control>
      <app-telephone-input (phoneChange)="getPhone()"
                           (telephoneInit)="getPhoneInit($event)"></app-telephone-input>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item class="auth-code-item">
    <nz-form-control>
      <input class="auth-code" formControlName="authCode" nz-input [placeholder]="language.login.codePlaceholder">
      <button  class="timer" id="timer" (click)="getValidationCode()"
              [disabled]="bol" type="button">{{VerificationCode}}
      </button>
      <!--<nz-form-explain *ngIf="validateForm.get('name')?.dirty && validateForm.get('name')?.errors"-->
      <!--&gt;验证码错误或手机号未注册-->
      <!--</nz-form-explain>-->
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control>
      <button class="login-button"
              (click)="submit()"
              nz-button
              nzType="primary"
              [disabled]="!validateForm.valid || loginLoading"
              [nzLoading]="isLoginLoading">{{language.login.login}}</button>
    </nz-form-control>
  </nz-form-item>
</form>

