<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fiberhome.filink.alarmsetserver.dao.AlarmForwardRuleDeviceTypeDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fiberhome.filink.alarmsetserver.bean.AlarmForwardRuleDeviceType">
        <result column="rule_id" property="ruleId" />
        <result column="device_type_id" property="deviceTypeId" />
    </resultMap>

    <delete id="batchDeleteAlarmDeviceType">
        DELETE FROM alarm_forward_rule_device_type WHERE rule_id IN
        <foreach collection="array" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <insert id="addAlarmForwardRuleDeviceType">
        INSERT INTO alarm_forward_rule_device_type (rule_id,device_type_id) VALUE
        <foreach collection="list" item="item" separator=",">
            (
            #{item.ruleId},
            #{item.deviceTypeId}
            )
        </foreach>
    </insert>

    <delete id="deleteAlarmDeviceType">
        DELETE FROM alarm_forward_rule_device_type WHERE rule_id=#{ruleId}
    </delete>

    <select id="queryAlarmForwardRuleDeviceTypeById" resultMap="BaseResultMap">
        SELECT rule_id,device_type_id FROM alarm_forward_rule_device_type WHERE rule_id=#{id}
    </select>
</mapper>
