.lh-form-error-validate {
  position: absolute;
  top: 6px;
  right: 8px;
  .anticon {
    color: #0e77ca;
    font-size: 14px;
  }
}

.form-suffix {
  display: inline-block;
  width: 30px;
  height: 32px;
  line-height: 32px
}
