<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fiberhome.filink.parameter.dao.SysLanguageDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fiberhome.filink.parameter.bean.SysLanguage">
        <id column="language_id" property="languageId" />
        <result column="language_type" property="languageType" />
        <result column="language_name" property="languageName" />
    </resultMap>
    <!--查询所有系统语言-->
    <select id="queryLanguageAll" resultMap="BaseResultMap">
        SELECT language_id, language_type, language_name FROM sys_language
    </select>

</mapper>
