<div class="search">
  <input type="text" nz-input="" placeholder="搜索模板">
  <button type="button" class="open-button">
    <i class="icon-fiLink fiLink-search-index iconfont"></i>
  </button>
</div>
<div class="template-list">
  <ul>
    <li (click)="selectTemplate($event)">
      <p title="111">模板001</p>
    </li>
    <li>
      <p>模板001111111111111111111111111111111</p>
    </li>
    <li>
      <p>模板001</p>
    </li>
    <li>
      <p>模板001</p>
    </li>
    <li>
      <p>模板001</p>
    </li>
    <li>
      <p>模板001</p>
    </li>
    <li>
      <p>模板001</p>
    </li>
    <li>
      <p>模板001</p>
    </li>
    <li>
      <p>模板001</p>
    </li>
    <li>
      <p>模板001</p>
    </li>
    <li>
      <p>模板001</p>
    </li>
    <li>
      <p>模板001</p>
    </li>
    <li>
      <p>模板001</p>
    </li>
    <li>
      <p>模板001</p>
    </li>
  </ul>
</div>
