<!--地图-->
<div class="index-map-container">
  <xc-map [mapConfig]="mapConfig"
          [data]="data"
          [iconSize]="iconSize"
          [facilityId]="mapFacilityId"
          (mapEvent)="mapEvent($event)"></xc-map>
  <!--聚合点设施详情-->
  <div *ngIf="isShowClustererFacilityTable" class="clusterer-facility-table">
    <app-clusterer-facility-list [facilityList]="clustererFacilityList"
                                 (facilityListEvent)="clustererFacilityListEvent($event)">
    </app-clusterer-facility-list>
  </div>

</div>

<!--设施详情展示-->
<div *ngIf="isShowFacilityPanel" class="facility-panel">
  <div class="tab-container">
    <nz-tabset [nzTabPosition]="'top'" [nzSelectedIndex]="selectedIndex" (nzSelectedIndexChange)="selectedIndexChange($event)">
      <nz-tab [nzTitle]="indexLanguage.facilityDetailPanelTitle">
        <app-facility-detail-panel #facilityDetailPanelComponent
                                   [facilityId]="facilityId"
                                   (facilityDetailEvent)="facilityDetailEvent($event)"
                                   *ngIf="isShowFacilityDetailTab">
        </app-facility-detail-panel>
      </nz-tab>
      <nz-tab [nzTitle]="indexLanguage.facilityAlarmPanelTitle">
        <app-facility-alarm-panel [facilityId]="facilityId" *ngIf="isShowFacilityAlarmTab"></app-facility-alarm-panel>
      </nz-tab>
      <nz-tab [nzTitle]="indexLanguage.facilityLogAndOrderPanelTitle">
        <app-log-order-panel [facilityId]="facilityId" *ngIf="isShowFacilityLogAndOrderTab"></app-log-order-panel>
      </nz-tab>
    </nz-tabset>
  </div>
</div>

<!--刷新按钮-->
<div class="refresh-btn" (click)="refresh()" title="{{indexLanguage.refresh}}">
  <div class="icon-refresh"></div>
</div>

<!--展开收起按钮-->
<div class="unfold-btn" (click)="expandAndFoldLeftComponents()">
  <div class="icon-up"
       title="{{isExpandLeftComponents ? indexLanguage.fold : indexLanguage.expand}}"
       [ngClass]="isExpandLeftComponents ? 'icon-expand' : 'icon-collapse'"></div>
</div>

<div class="filter-top">
  <!--设施类型-->
  <div class="facility-type" [ngClass]="{marr10: isExpandFacilityType || isExpandFacilityStatus}">
    <div *ngIf="!isExpandFacilityType" class="facility-type-title" title="{{indexLanguage.facilityTypeTitle}}">
      <div class="icon-facility-type"  (click)="expandFacilityType()"></div>
      <div class="text" (click)="expandFacilityType()">{{indexLanguage.facilityTypeTitle}}</div>
      <div class="icon-setting" (click)="openFacilityTypeConfigModal()"></div>
    </div>
    <div *ngIf="isExpandFacilityType">
       <app-facility-type #facilityTypeComponent (facilityTypeEvent)="facilityTypeEvent($event)"></app-facility-type>
    </div>
  </div>
  <!--设施状态-->
  <div class="facility-status" [ngClass]="{marr10: isExpandFacilityStatus}">
    <div *ngIf="!isExpandFacilityStatus"
         class="facility-status-title"
         (click)="expandFacilityStatus()"
         title="{{indexLanguage.facilityStatusTitle}}">
      <div class="icon-facility-status"></div>
      <div class="text">{{indexLanguage.facilityStatusTitle}}</div>
    </div>
    <div *ngIf="isExpandFacilityStatus" class="facility-status-checkbox">
      <app-facility-status (facilityStatusEvent)="facilityStatusEvent($event)"></app-facility-status>
    </div>
  </div>
  <!--我的收藏-->
  <div class="my-collection">
    <div *ngIf="!isExpandMyCollection" (click)="expandMyCollection()"  class="my-collection-title" title="{{indexLanguage.myCollection}}">
      <div class="icon-facility-list"></div>
      <div class="text">{{indexLanguage.myCollection}}</div>
    </div>
    <div *ngIf="isExpandMyCollection" class="my-collection-list">
      <app-my-collection #myCollectionComponent
                         [indexCacheData]="indexMyCollectionCacheData"
                         (myCollectionEvent)="myCollectionEvent($event)">
      </app-my-collection>
    </div>
  </div>
</div>

<!--逻辑区域-->
<div class="logic-area" [ngStyle]="{'z-index': isShowLeftComponents ? '1' : '-1'}">
  <div *ngIf="!isExpandLogicArea"
       (click)="expandLogicArea()"
       class="logic-area-title"
       title="{{indexLanguage.selectArea}}">
    <div class="icon-logic-area"></div>
    <div class="text">{{indexLanguage.selectArea}}</div>
  </div>
  <div *ngIf="isExpandLogicArea" class="app-logic-area">
    <app-logic-area #logicAreaComponent (logicAreaEvent)="logicAreaEvent($event)"></app-logic-area>
  </div>
</div>

<!--设施列表-->
<div class="facility-list"
     [ngStyle]="{top: isExpandLogicArea ? '312px' : '80px', 'z-index': isShowLeftComponents ? '1' : '-1'}">
  <div *ngIf="!isExpandFacilityList"
       (click)="expandFacilityList()"
       class="facility-list-title"
       title="{{indexLanguage.facilitiesList}}">
    <div class="icon-facility-list"></div>
    <div class="text">{{indexLanguage.facilitiesList}}</div>
  </div>
  <div *ngIf="isExpandFacilityList" class="app-facility-list">
    <app-facility-list #facilityListComponent (facilityListEvent)="facilityListEvent($event)"></app-facility-list>
  </div>
</div>

<!--地图设置-->
<div class="map-setting">
  <i class="iconfont icon-fiLink fiLink-map-setting  bg-c-w"
       style="font-size: 24px;line-height: 24px;"
       title="{{indexLanguage.mapSetting}}"
       (click)="openMapSettingModal()">
  </i>
</div>

<!--设施类型设置-->
<ng-template #facilityTypeConfigTemp>
  <div class="facility-type-config-container">
    <div class="facility-type-config-box">
      <div class="facility-type-config-item facility-type-config-title">
        <div class="text">
          {{commonLanguage.options}}
        </div>
        <div class="split-line"></div>
        <div class="text">
          {{indexLanguage.runState}}
        </div>
      </div>
      <div class="facility-type-config-item" *ngFor="let type of facilityTypeConfig">
        <div class="text">{{type.label}}</div>
        <div class="checkbox">
          <label nz-checkbox [(ngModel)]="type.checked">
          </label>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<!--地图设置-->
<ng-template #MapConfigTemp>
  <div class="map-config-container">
    <div class="map-config-box">
      <div class="map-config-item">
        <div class="map-config-item-text">{{indexLanguage.iconSize}}</div>
        <div class="map-config-item-content">
          <nz-select style="width: 100%;" [(ngModel)]="facilityIconSizeValue" nzPlaceHolder="{{indexLanguage.pleaseSelect}}">
            <ng-container *ngFor="let option of facilityIconSizeConfig">
              <nz-option nzValue="{{option.value}}" nzLabel="{{option.label}}"></nz-option>
            </ng-container>
          </nz-select>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<div class="progress-bar" *ngIf="isShowProgressBar">
  <p>{{commonLanguage.loading}}...</p>
  <nz-progress [nzPercent]="percent" nzStatus="active"></nz-progress>
</div>
