<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fiberhome.filink.alarmsetserver.dao.AlarmOrderRuleNameDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fiberhome.filink.alarmsetserver.bean.AlarmOrderRuleName">
        <result column="rule_id" property="ruleId" />
        <result column="alarm_name_id" property="alarmNameId" />
    </resultMap>

    <insert id="addAlarmOrderRuleName">
        INSERT into alarm_order_rule_name (rule_id, alarm_name_id) VALUE
        <foreach collection="list" item="item" separator=",">
            (
            #{item.ruleId},
            #{item.alarmNameId}
            )
        </foreach>
    </insert>

    <delete id="batchDeleteAlarmOrderRuleName">
        DELETE FROM alarm_order_rule_name WHERE rule_id IN
        <foreach collection="array" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <delete id="deleteAlarmOrderRuleName">
        DELETE FROM alarm_order_rule_name WHERE rule_id=#{ruleId}
    </delete>


    <select id="queryAlarmOrderRuleNameById" resultMap="BaseResultMap">
        SELECT rule_id, alarm_name_id FROM alarm_order_rule_name WHERE rule_id=#{id}
    </select>
</mapper>
