<xc-table [dataSet]="_dataSet"
          [pageBean]="pageBean"
          [tableConfig]="tableConfig"
          (pageChange)="pageChange($event)">
</xc-table>

<ng-template #statusTemp let-data="data">
  <div class="hidden" title="{{data.statusName}}">
    <span [ngClass]="data.statusClass"
          style="margin-right: 5px;">
    </span>
    {{data.statusName}}
  </div>
</ng-template>

<ng-template #UnitNameSearch let-filterValue = "filterValue">
  <span class="area-name" (click)="showModal(filterValue)" [title]="selectUnitName" [class.placeholder]="!selectUnitName">{{selectUnitName?selectUnitName:commonLanguage.clickSelect}}</span>
</ng-template>

<xc-tree-selector
  [(xcVisible)]="isVisible"
  (selectDataChange)="selectDataChange($event)"
  [treeSelectorConfig]="treeSelectorConfig">
</xc-tree-selector>

<!--关联告警模板-->
<ng-template #refAlarmTemp let-data="data">
  <div (click)="showRefAlarmModal(data)" class="hidden" style="cursor: pointer">{{data.refAlarmName}}</div>
</ng-template>

<!--关联告警modal框内容-->
<ng-template #showAlarmTemp>
  <app-ref-alarm [refAlarmMessage]="alarmData"></app-ref-alarm>
</ng-template>

