<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fiberhome.filink.alarmcurrentserver.dao.AlarmTemplateDepartmentDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fiberhome.filink.alarmcurrentserver.bean.AlarmTemplateDepartment">
        <result column="template_id" property="templateId" />
        <result column="department_name" property="departmentName" />
        <result column="department_id" property="departmentId" />
    </resultMap>

    <insert id="addAlarmTemplateDepartment">
        INSERT INTO alarm_template_department (template_id,department_name,department_id) VALUE
        <foreach collection="list" item="item" separator=",">
            (
            #{item.templateId},
            #{item.departmentName},
            #{item.departmentId}
            )
        </foreach>
    </insert>

    <sql id="BaseResultSql">
        template_id,department_name,department_id
    </sql>

    <delete id="batchDeleteAlarmTemplateDepartment">
        DELETE FROM alarm_template_department WHERE template_id IN
        <foreach collection="array" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <update id="batchUpdateAlarmTemplateDepartment">
        UPDATE alarm_template_department SET department_name=#{departmentName},department_id=#{departmentId} WHERE template_id=#{templateId}
    </update>

    <select id="queryAlarmDepartmentById" parameterType="com.fiberhome.filink.alarmcurrentserver.bean.AlarmTemplateDepartment"
            resultMap="BaseResultMap">
        SELECT
        <include refid="BaseResultSql"/>
        FROM alarm_template_department WHERE template_id=#{id}
    </select>

</mapper>
