<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fiberhome.filink.fdevice.dao.area.AreaDeptInfoDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fiberhome.filink.fdevice.bean.area.AreaDeptInfo">
        <id column="area_dept_id" property="areaDeptId"/>
        <result column="dept_id" property="deptId"/>
        <result column="area_id" property="areaId"/>
    </resultMap>
    <!--批量新增关系表信息-->
    <insert id="addAreaDeptInfoBatch" parameterType="list">
        INSERT INTO area_dept_info (area_dept_id,dept_id,area_id
        )VALUES
        <foreach collection="list" item="areaDeptInfoList" index="index" separator=",">
            (#{areaDeptInfoList.areaDeptId}, #{areaDeptInfoList.deptId},#{areaDeptInfoList.areaId}
            )
        </foreach>
    </insert>
</mapper>
