@mixin login-input {
  font-size: 13px;
  color: #959595;
  border: 0;
  border-bottom: 1px solid #e8e8e8;
  border-radius: 0;
}
.phone-login-form {
  .auth-code-item {
    margin-bottom: 45px;
  }

  nz-form-item {
    margin-left: 72px;
    nz-form-control {
      nz-select {
        width: 70px;
      }

      .phone {
        width: 190px;
        @include login-input
      }

      .auth-code {
        width: 165px;
        height: 38px;
        @include login-input
      }

      .timer {
        font-size: 13px;
        color: #959595;
        padding: 10px;
        margin-left: 5px;
        border: 1px solid #e8e8e8;
      }

      .login-button {
        width: 260px;
        height: 42px;
        font-size: 18px;
        border: 0;
        border-radius: 21px;
        color: #fff;
        background-color: #36cfc9;
        cursor: pointer;
        outline: 0
      }
    }
  }
}

:host ::ng-deep .ant-select-selection {
  border: 0;
  border-bottom: 1px solid #e8e8e8;
  border-radius: 0;
}

:host ::ng-deep input.ant-input:focus {
  outline:none;
  box-shadow:none;
}
