<nz-card nzTitle="设施最近照片" >
  <!--<div style="height: 400px;display: flex;align-items: center">-->
    <!--<button nz-button class="button-next"><i nz-icon type="double-left" theme="outline"></i></button>-->
    <!--<div class="swiper-container" [swiper]='config' style="margin: 0 20px">-->
      <!--<div class="swiper-wrapper">-->
        <!--<div class="swiper-slide">-->
          <!--<div style="width: 300px;height: 400px;background: #6ad88a"></div>-->
        <!--</div>-->
        <!--<div class="swiper-slide">-->
          <!--<div style="width: 300px;height: 400px;background: #f6d683"></div>-->
        <!--</div>-->
        <!--<div class="swiper-slide">-->
          <!--<div style="width: 300px;height: 400px;background: #d86a6a"></div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<button nz-button class="button-prev"><i nz-icon type="double-right" theme="outline"></i></button>-->
  <!--</div>-->
  <div>
    <div>
      <img src="" alt=""/>
    </div>
    <div>
      <img src="" alt=""/>
    </div>
    <div>
      <img src="" alt=""/>
    </div>
  </div>
</nz-card>
<ng-template #extraTemplate>
  <span>更新时间2018-12-12   18：21：21</span>
</ng-template>
