<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fiberhome.filink.menu.dao.MenuTemplateDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="baseResultMap" type="com.fiberhome.filink.menu.bean.MenuTemplate">
        <id column="menu_template_id" property="menuTemplateId" />
        <result column="template_name" property="templateName" />
        <result column="template_status" property="templateStatus" />
        <result column="remark" property="remark" />
        <result column="version" property="version" />
        <result column="is_deleted" property="isDeleted" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!--禁用所有模板-->
    <update id="updateAllMenuTemplate">
        UPDATE menu_template SET
        template_status = 0
    </update>
</mapper>
