<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fiberhome.filink.logserver.dao.FunctionDangerLevelConfigDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fiberhome.filink.logserver.bean.FunctionDangerLevelConfig">
        <id column="function_code" property="functionCode" />
        <result column="function_name" property="functionName" />
        <result column="danger_level" property="dangerLevel" />
    </resultMap>

</mapper>
